[Desktop Entry]
Encoding=UTF-8
Exec=~/bin/eclipse-php-start.run
Icon=~/.config/docker/eclipse/php/icon.xpm
Type=Application
Terminal=false
GenericName=Eclipse-PHP
Name=EclipsePHP
StartupNotify=false
Categories=Development
