[Desktop Entry]
Encoding=UTF-8
Exec=/home/jay/.local/bin/docker-deb-start-0.0.2 debian-eclipse-php:photon-9.5.1
Icon=/home/jay/.local/share/icons/eclipse-oxygen-phplogo.png
Type=Application
Terminal=false
GenericName=Eclipse Photon PHP 9.5.1
Name=Eclipse Photon PHP 9.5.1
StartupNotify=false
Categories=Development
