[Desktop Entry]
Encoding=UTF-8
Exec=/home/jay/.local/bin/docker-deb-start-0.0.2 debian-eclipse-php:photon-9.5.0
Icon=/home/jay/.local/share/icons/icon.xpm
Type=Application
Terminal=false
GenericName=Eclipse-PHP Oxygen
Name=EclipsePHP Oxygen
StartupNotify=false
Categories=Development
