[Desktop Entry]
Encoding=UTF-8
Exec=/home/jay/.local/bin/docker-deb-start-0.0.2 debian-eclipse-php:9.5.2-oxygen
Icon=/home/jay/.local/share/icons/icon.xpm
Type=Application
Terminal=false
GenericName=Eclipse PHP 9.5.2 Oxygen
Name=Eclipse PHP 9.5.2 Oxygen
StartupNotify=false
Categories=Development
